@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,300;1,400&family=Poppins:wght@500&family=Roboto:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header{
    padding: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
}

header img{
    width: 130px;
    height: 40px;
}

header div:nth-child(1){
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

header nav{
    width: 250px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 400px;
}

header nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover{
    color: rgba(47, 209, 26, 0.822);
}

header div span:nth-child(1){
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    
}

header .user{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}

header .user img{
    border-radius: 50%;
    width: 40px;
}

header .user p{
    color: #fff;
    font-weight: 400;
}

/* sec1 */

#sec1{
    background-image: linear-gradient(#c763b5, #6c9ad3, #000);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec1 div:nth-child(1){
    width: 400px;
    color: #fff;
}

#sec1 div:nth-child(1) small{
    font-weight: bold;

}

#sec1 div:nth-child(1) h1{
    font-size: 80px;
}

#sec1 div:nth-child(1) h1 + p{
    font-size: 24px;
    font-weight: bold;
    width: 300px;
}

#sec1 div:nth-child(1) button{
    background-color: #1db954;
    padding: 20px 32px;
    border-radius: 500px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    width: 300px;
    margin: 32px 0;
    cursor: pointer;
}

#sec1 div:nth-child(1) button:hover{
    background-color: #1faa50;
}

#albums{
    display: flex;
    flex-wrap: wrap;
    width: 770px;
    justify-content: space-around;
    height: min-content;
}

#albums img{
    margin-bottom: 16px;
    width: 240px;
    height: 240px;
}

/* sec2 */

#sec2{
    padding: 148px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%);
}
#sec2 h1{
    position: relative;
    top: -50px;
    margin: 30px;
    font-size: 48px;
    color: #fff;
    text-align: center;
}

#sec2 #content{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.artistas, .musicas{
    background-color: #9191f833;
    width: 440px;
    position: relative;
    height: 230px;
}

.artistas p:nth-child(1), .musicas p:nth-child(1){
    margin-left: -6px;
    width: 150px;
    background-color: rgba(33, 55, 110, 0.5);
    position: relative;
    text-align: center;
    top: 16px;
    padding: 4px;
    font-size: 12px;
    color: #fff;
}

.artistas p:nth-child(2), .musicas p:nth-child(2){
    background-color: #223974;
    display: inline-block;
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    margin-left: -16px;
    padding: 10px 12px 10px 29px;
    z-index: 100;
    position: inherit;
    top: 32px;
    color: #fff;
}

.artistas a, .musicas a{
    position: absolute;
    left: 24px;
    bottom: 80px;
    color: #1fe00d;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.artistas a:hover, .musicas a:hover{
    color: #19cc08;
}

.artistas img, .musicas img{
    width: 240px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -10px;
    margin-top: -28px;
}

